<%= form_for(@lecture) do |f| %>
<% if @lecture.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@lecture.errors.count, "error") %>
    prohibited this lecture from being saved:</h2>

  <ul>
    <% @lecture.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="row">
  <div class="col-sm-5">
    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, :class => 'form-control'  %>
    </div>
    <div class="form-group">
      <%= f.label :short_name %><br>
      <%= f.text_field :short_name, :class => 'form-control'  %>
    </div>
    <div class="form-group ">
      <%= f.label :etcs_point %><br>
      <%= f.number_field :etcs_point, :class => 'form-control'  %>
    </div>
    <div class="form-group">
      <%= f.label :description %><br>
      <%= f.text_area :description, :class => 'form-control'  %>
    </div>
    <div class="actions">
      <%= f.submit  :class => 'btn btn-success' %>
    </div>
  </div>
</div>
<% end %>
