<% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
<% end %>
<h2>Hello in dashboard</h2>
<p> Here you've got all ordered classes :) </p>

  <% @orders.each do |item| %>
    <p>
        <%= item.first_name%> <%= item.second_name %> <%= item.email %>
    </p>

      <ul>
        <% item.lists.each do |classes| %>
          <li>
            <%= classes.lecture.name %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
