<% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
<% end %>
<h2><%= t "admin.index.title" %></h2>
<p> <%= t "admin.index.description" %></p>

  <% @orders.each do |item|
    #if item.email == session[:user_email] %>

    <p>
        <%= item.first_name.capitalize%> <%= item.second_name.capitalize %> <%= item.email %>
    </p>

      <ul>
        <% item.lists.each do |classes| %>
          <li>
            <%= classes.lecture.name %>
          </li>
        <% end %>
      </ul>
    </li>

  <% end %>
