<!DOCTYPE html>
<html>
  <head>
    <title>EpicScheduler!</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <header>
        <nav class="navbar">
          <div class="container-fluid">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="navbar-header">
              <a class="navbar-brand" href="/">EpicScheduler</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav pull-right">
                <li class="active">
                  <a href="/">Home</a>
                </li>

                <li><%= link_to 'List of classes', lectures_path  %></li>
                <% if session[:plan_id] %>
                <li>
                  <%= link_to 'ECTS planner', plan_path(session[:plan_id]) %>
                </li>
                <% end %>
                <li>
                  <% unless session[:user_id] %>
                  <%= link_to 'Log in', login_path %>
                  <% end %>
                </li>
                <li>
                  <% if session[:user_id] %>
                  <%= link_to 'Log out', logout_path, method: :delete  %>
                  <% end %>
                </li>
                <li>
                  <% unless session[:user_id] %>
                  <%= link_to 'Register', new_user_url%>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <p>Schedule you lectures easy and fast way!</p>
      </header>
      <%= yield %>
    </div>
    <footer class="footer">

      Made with ❤
      <%= Time.now.year %>
      EpicScheduler

    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.js"></script>
  </body>
</html>
